<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rqpw.weather.cn.youmi">

    <application android:allowBackup="true">

        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
        <uses-permission android:name="android.permission.GET_TASKS" />

        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>
        <service
            android:name="net.youmi.android.ExpService"
            android:exported="false" >
        </service>
        <receiver
            android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="net.youmi.android.offers.OffersReceiver"
            android:exported="false" >
        </receiver>

    </application>

</manifest>
